* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background: rgb(235, 210, 177);
}

/* heading */
h1 {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
/* Loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(170, 166, 166, 0.787);
}
.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Images */
.image_container {
  margin: 10px 30%;
}
.image_container img {
  width: 100%;
  border-radius: 10px;
  margin-top: 5px;
}

/* Responsible design for large mobiles */
@media screen and (max-width: 700px) {
  h1 {
    margin: 1rem 10px;
    text-align: center;
    font-size: 1.6rem;
  }
  .image_container {
    margin: 18px;
  }
}
